body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(131, 100, 33);
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px;
}
  
#resolution, #color, #opacity {
    padding: 6px 18px;
    background: white;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    color: black;
    margin: 20px;
}
  
#container {
    border: solid white;
    background-color: white;
    padding: 4px;
    border-radius: 8px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2px;
}

